doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', type='text/css')
    link(rel='stylesheet/less', href='css/main.less', type='text/css')
    // Script for less implementation
    script(src='https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.js')
  body
    .nav-side-menu
      .brand
        img(src='images/logo.svg', alt='Logo')
      i.fa.fa-bars.fa-2x.toggle-btn(data-toggle='collapse', data-target='#menu-content')
      .menu-list
        ul#menu-content.menu-content.collapse.out
          li.active
            a(href='#')
              i.fa.fa-dashboard.fa-lg
              |  Dashboard
          li
            a(href='#')
              i.fa.fa-gift.fa-lg
              |  Log
          li.collapsed(data-toggle='collapse', data-target='#service')
            a(href='#')
              i.fa.fa-globe.fa-lg
              |  Stats
              span.arrow
          ul#service.sub-menu.collapse
            li New Service 1
            li New Service 2
            li New Service 3
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
